.backFull{
    display: block;
    /* background-color: green; */
    width:100vw;
    height:100vh;
}
/* server share kar abbe bhai badi dikkat dene laga hai yeh SVG?? ek dam  nyi baat batayi fresh taazi laptop svg to daalra hu*/